<!-- <footer class="footer py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; myCookbook 2021</span>
    </div>
</footer> -->






<footer>
    <div>
        <span>&copy; myCookbook 2021</span>
    </div>
</footer>