<header>

    <ul class="navLinks">
        <h1 id="nav1">myCookbook</h1>
        <!-- <li><a class="navLink" href="/">myCookbook</a></li> -->
        <li id="nav2"><a id="recipes-link" class="navLink" href="/recipes">all recipes</a></li>
        <li id="nav3"><a class="navLink" href="/logout">Logout</a></li>
    </ul>
</header>