<header>
    <ul class="navLinks">
        <h1 id="nav1">myCookbook</h1>
        <div class="nav2 menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger">
                <div class="hamburger__line">
                </div>
            </div>
            <ul class="menu">
                <li><a class="hamburger__href" href="/recipes">My Recipes</a></li>
                <li><a class="hamburger__href" href="/recipes/new">Create a New Recipe</a></li>
                <li><a class="hamburger__href" href="/logout">Logout</a></li>
            </ul>
        </div>
    </ul>
</header>


