* {
    text-decoration: none;
    outline: none;
    border: none;

}

html {
    overflow-y: overlay;
}

form > * {
    width: 100%;
}

input, textarea {
    border: 1px solid #ccc;
}

label {
    font-weight: bolder;
}


.title > * {
    display: block;
}

.title label {
    text-align: start;
}

.title input {
    width: 100%;
}




.ingredients {
    margin-top: 50px;
}

.ingredient > *, .step > * {
    display: block;
}

.ingredients label {
    display: block;
    text-align: start;
}

.ingredient input {
    width: 100%;
}



.steps {
    margin-top: 50px;
}

.step, .ingredient {
    margin-top: 50px;
}

.step label {
    text-align: start;
}

.step textarea {
    width: 100%;
    resize: none;
}



button {
    border-radius: 4px;
    color: white;
}


input, textarea {
    padding: 5px 15px;
    border-radius: 8px;
}

.delete-btn {
    margin-left: auto;
    width: 30px;
    margin-top: 8px;
    background-color: #e74c3c;
}

.add-btn {
    height: 20px;
    margin-top: 4px;
    background-color: #68ac35;
}

button:hover {
    cursor: pointer;
}

.submit {
    margin-top: 100px;
    width: auto;
    padding: 10px;
    background-color: #68ac35;
}

#cancel {
    float: right;
    margin-top: 20px;
    border-radius: 4px;
    width: 75px;
    height: 25px;
    background-color: #e74c3c;
    color: white;
    vertical-align: middle;
}