<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myCookbook</title>
    <script src="https://kit.fontawesome.com/964b4f6dfb.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="/stylesheets/boilerplate.css"> -->
    <link rel="stylesheet" href="/stylesheets/email-sent.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>

<body>
    <h1 id="title" class="title"><a href="/login">myCookbook</a></h1>

    <div class="content">
        <div class="header">
            <h2>Reset your password</h2>
        </div>

        <div class="sent-text">
            <p>
                An email is on its way to <b>
                    <%= email %>
                </b> with instructions for resetting your password.
            </p>

            <p>If you do not receive the email soon, check that the email address you entered is
                correct, and that the email has not been alloted to your
                spam folder.</p>
        </div>


        <a id="return-btn" class="submit" href="/login">Return to Login</a>


    </div>

    </div>

    <script src="./script.js"></script>
</body>

</html>