<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myCookbook | Reset Password</title>
    <script src="https://kit.fontawesome.com/964b4f6dfb.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/entry.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

</head>
<body>
    <div class="overlay"></div>
    <div class="margin">
        <div class="title title_entry">
            <h1>myCookbook</h1>
        </div>
        <div class="content">
            <div class="header">
                <h2>Reset your password</h2>
            </div>
            <form class="form" action="/reset/<%= token %>" method="POST">
                <div class="form__group">
                    <i class="icon fas fa-unlock-alt"></i>
                    <input type="password" name="password" value="" placeholder="New password" autofocus="autofocus" class="form__input"/>
                </div>
                <div class="form__group">
                    <i class="icon fas fa-unlock-alt"></i>
                    <input type="password" name="confirm" value="" placeholder="Confirm password" class="form__input"/>
                </div>
                <button type="submit" class="submit">Update Password</button>
            </form>
            <% if (error.length> 0) {%>
                <div class="error-message error-message_entry">
                    <h3>
                        <i class="fas fa-exclamation-circle"></i>
                        <%= error %>
                    </h3>
                </div>
            <% } %>
        </div>
    </div>
    <script src="./entry.js"></script>
</body>
</html>